{{ define "main" }}

<h1>Hi&excl; We&apos;re the Beyerhams.</h1>

<h3 style="color: pink;">🎉 Hooray for Adelaide Beyerham</h3>

<p>Instead of hyphenating or choosing just one parent&apos;s surname, we created a new one. 
    Beyerham is the portmanteau of Beyer and Pinkham, and we think it rolls off the tongue quite nicely. 
    As of 2020, there is only one Beyerham. Introducing Miss Adelaide Beyerham, the first of her name. 
    It&apos;s a pretty simple name origin story and we hope more parents will explore this as an option 
    for naming their children.
</p>

{{ end }}
